@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
body{
	margin:0; /*para quitar espacio*/
	font-family:'Open Sans', sans-serif;
	background:black;
}
img{
	display:block;
	max-width:100%;
}
.logotipo{
	width:20%;
	height: 100px;
	
	top:20px;
	left:500px;
}
/*Fuente para los titulos gabiiii*/
h1,h2,h3,h4{
	font-family:'Yanone-Kaffeesatz', sans-serif;
	letter-spacing:1.5px 
}
.section_titulo{
	text-align:center;
	font-size:30px;
	color:#FBA919;
}
.contenedor{
	margin:auto;
	width:98%;
}
/*Estilos de header*/
.header{
	height:60px;
}
.header .contenedor{
	display:flex;
	justify-content:space-between;
}
.logo, .icon-menu{
	margin:5px;
	color:#fff;
}
.logotipo{
	display:block;
	width:120px;
	height:60px;
	font-size:38px;
	line-height:55px;
	border-radius:5px;
	margin-left:auto;
	top:20px;
	left:55px;
}
.icon-menu{
	display:block;
	width:40px;
	height:40px;
	font-size:38px;
	background:#FBA919;
	color:#fff;
	text-align:center;
	line-height:45px;
	border-radius:5px;
	margin-left:auto;
	cursor:pointer;/*aparecer el cursor la manito*/
}
/*Estilos del menu*/
.nav{
	position:absolute;
	top:60px;
	left:-100%;/*el menos para que aparezca de lado izquierdo*/
	width:100%;
	transition:all 0.4s;
}
.mostrar{
	left:0;
}
.menu{
	list-style:none;
	padding:0;
	margin:0;
}

/*submenu*/
.submenu{
	/*position:absolute;*/
	background:#333333;
	width:130%;
	display:none;
	list-style: none;
}
.submenu li a {
	display:block;
	padding:15px;
	color:#fff;
	font-family:'Open sans';
	text-decoration:none;
	
}
.menu li:hover .submenu{
	display:block;
}
/*Afecta al menu despegable*/
.menu_link, .select{
	display:block;
	padding:20px;
	background:#8B0000;
	text-decoration:none;
	color:white;
}

.menu_link:hover{
	background:white;
	color:#8B0000;;
}

.menu_link2:hover{
	background:white;
	color:#8B0000;;
}

/*Estilos de banner*/
.banner{
	margin-top:-60px;
	position:relative;
	z-index:-1000;
	margin-bottom:30px;
}
.banner .slider{
	top:150%;
}
.banner .contenedor{
	position:absolute;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	width:100%;
	color:#fff;
	text-align:center;
}
.banner_txt{
	display:none;
}
/*Estilos de imagenes de info*/
.info_columna{
	background:#8B0000;
	color:#fff;
	padding:15px;
	margin-bottom:80px;
}
/*Mas infomacion pestaña*/
.info_columna a{
	display:block;
	width:130px;
	color:#fff;
	text-decoration:none;
	padding:7px;
	margin-top:10px;
	border:3px solid #fff;
	
}
/*Estilos de curso*/

.cursos_columnas{
	position:relative;
	margin-bottom:30px;
	
}

.cursos_descripcion{
	position:absolute;
	top:0;
	left:0;
	color:#fff;
	background:rgba(0,0,0,0.4);
	width:60%;
	height:100%;
	padding:5px;
}

.cursos_titulos{
	font-size:30px;
	margin:5px 0;
	
}
.cursos a{
	display:block;
	width:130px;
	color:#fff;
	text-decoration:none;
	padding:7px;
	margin-top:10px;
	border:3px solid #fff;
}
/*Estilos responsive*/
@media(min-width:480px){
	.logo{
		font-size:40px;
	}
	.banner_titulo{
		font-size:30px;
		margin:5px 0;
	}
	.banner_txt{
		display:block;
		font-size:20px;
		margin:5px 0;
	}
	.info, .cursos{
		/*display:flex; se pone uno a la de otro*/
		justify-content:space-between;
		margin-top:-80px;
	}
	.info_columna{
		width:30%;	/*espacio de los articulo*/
	}
	.cursos{
		flex-wrap:wrap;/*se pone para ir uno debajo del otro*/
		margin-top:0;
		
	}
	.section_titulo{
		width:100%;
	}
	.cursos_titulos{
		font-size:13px;
	}
	.cursos_txt{
		font-size:9px;
	}
	.cursos_columnas{
		width:48%;
	}
	.info_titulo{
		font-size:15px;
	}
	.info.txt{
		font-size:5px;
	}
	/*Ejemplo*/
.div-imagen {
  display:inline-block;
  margin-top:60px;
}

.div-imagen > div {
  position:absolute;
  top:110px;
  left:155px;
  z-index:-1;
  padding:10px;
  margin-top:680px;
  color:white;
  margin-left:-20px;
  font-size:30px;
  color:#B22222;
   font-family: "Times New Roman", Times, serif;
}
.desvanecer{
	width:450px;
	height:280px;
}
.desvanecer:hover, .desvanecer3:hover{
  opacity: 0.07;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
/*2*/
.div-imagen2 {
  display:inline-block;
  margin-top:60px;
   
}

.div-imagen2 > div {
  position:absolute;
  top:110px;
  left:155px;
  z-index:-1;
  padding:10px;
  margin-top:1025px;/*Baja el Tamaño*/
  color:white;
  margin-left:-50px;/*posicionar el texto*/
  font-size:30px;
  color:#B22222;
   font-family: "Times New Roman", Times, serif;
}
.desvanecer2{
	width:380px;
  height:280px;
 margin-left:0px;/*separacion*/
}
.desvanecer2:hover, .desvanecer4:hover{
  opacity: 0.07;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  width:380px;
  height:280px;
}
/*3*/
.div-imagen3 {
  display:inline-block;
  margin-top:60px;
}

.div-imagen3 > div {
  position:absolute;
  top:110px;
  left:155px;
  z-index:-1;
  padding:10px;
  margin-top:1350px; /*Bajar para ajustar a la imagen*/
  color:white;
  margin-left:-40px;
  font-size:30px;
  color:#B22222;
   font-family: "Times New Roman", Times, serif;
}
.desvanecer3{
	width:450px;
	height:280px;
}


/*4*/
.div-imagen4{
  display:inline-block;
  margin-top:60px;
   
}

.div-imagen4 > div {
  position:absolute;
  top:110px;
  left:155px;
  z-index:-1;
  padding:10px;
  margin-top:1700px;
  color:white;
  margin-left:-110px;/*posicionar el texto*/
  font-size:25px;
  color:#B22222;
   font-family: "Times New Roman", Times, serif;
}
.desvanecer4{
	width:400px;
	height:180px;
	 margin-left:0px;/*separacion*/
}
.desvanecer4:hover{
  opacity: 0.07;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  width:390px;
  height:230px;
}
}
/*Para table*/
@media(min-width:768px){
	.info, .cursos{
		display:flex; /*se pone uno a la de otro*/
		justify-content:space-between;
		margin-top:-80px;
	}
	.banner_titulo{
		font-size:40px;
	}
	.cursos_titulos{
		font-size:25px;
	}
	.cursos_txt{
		font-size:15px;
	}
	.info{
		margin-top:30px;
	}
	.info_titulo{
		font-size:25px;
	}
	.info.txt{
		font-size:15px;
	}
	/*Ejemplo*/
.div-imagen {
  display:inline-block;
  margin-top:60px;
}

.div-imagen > div {
  position:absolute;
  top:110px;
  left:155px;
  z-index:-1;
  padding:10px;
  margin-top:690px;
  color:white;
  margin-left:-20px;
  font-size:30px;
  color:#B22222;
   font-family: "Times New Roman", Times, serif;
}
.desvanecer{
	width:450px;
	height:280px;
}
.desvanecer:hover, .desvanecer3:hover{
  opacity: 0.07;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
/*2*/
.div-imagen2 {
  display:inline-block;
  margin-top:60px;
   
}

.div-imagen2 > div {
  position:absolute;
  top:110px;
  left:155px;
  z-index:-1;
  padding:10px;
  margin-top:690px;/*Baja el Tamaño*/
  color:white;
  margin-left:450px;/*posicionar el texto*/
  font-size:30px;
  color:#B22222;
   font-family: "Times New Roman", Times, serif;
}
.desvanecer2{
	width:380px;
  height:280px;
 margin-left:50px;/*separacion*/
}
.desvanecer2:hover, .desvanecer4:hover{
  opacity: 0.07;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  width:380px;
  height:280px;
}
/*3*/
.div-imagen3 {
  display:inline-block;
  margin-top:60px;
}

.div-imagen3 > div {
  position:absolute;
  top:110px;
  left:155px;
  z-index:-1;
  padding:10px;
  margin-top:1050px; /*Bajar para ajustar a la imagen*/
  color:white;
  margin-left:-20px;
  font-size:30px;
  color:#B22222;
   font-family: "Times New Roman", Times, serif;
}
.desvanecer3{
	width:450px;
	height:280px;
}


/*4*/
.div-imagen4{
  display:inline-block;
  margin-top:60px;
   
}

.div-imagen4 > div {
  position:absolute;
  top:110px;
  left:155px;
  z-index:-1;
  padding:10px;
  margin-top:1050px;
  color:white;
  margin-left:340px;/*posicionar el texto*/
  font-size:25px;
  color:#B22222;
   font-family: "Times New Roman", Times, serif;
}
.desvanecer4{
	width:400px;
	height:180px;
	 margin-left:10px;/*separacion*/
}
.desvanecer4:hover{
  opacity: 0.07;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  width:390px;
  height:230px;
}
}
/*Tamaño Escritorio*/
@media(min-width:1024px){
	.info, .cursos{
		display:flex; /*se pone uno a la de otro*/
		justify-content:space-between;
		margin-top:-80px;
	}
	.contenedor{
		width:1000px;
	}
	.nav{
		position:static;
		width:auto;
	}
	.menu{
		display:flex;
	}
	.menu_link{
		background:black;
		font-size:15px;
		
	}
	.icon-menu{
		display:none;
	}
	.select{
		background:#8B0000;
		color:#fff;
	}
	/*contenido de la imagen*/
	.banner, .slider{
		margin:5px;
	}
	.banner_titulo{
		font-size:40px;
		
	}
	.cursos_titulos{
		font-size:45px;
	}
	.info{
		margin-top:30px;
	}
	/*div zinc comentarios */
	/*Ejemplo*/
.div-imagen {
  display:inline-block;
  margin-top:60px;
}

.div-imagen > div {
  position:absolute;
  top:110px;
  left:155px;
  z-index:-1;
  padding:10px;
  margin-top:760px;
  color:white;
  margin-left:120px;
  font-size:30px;
  color:#B22222;
   font-family: "Times New Roman", Times, serif;
}
.desvanecer{
	width:450px;
	height:280px;
}
.desvanecer:hover, .desvanecer3:hover{
  opacity: 0.07;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
/*2*/
.div-imagen2 {
  display:inline-block;
  margin-top:60px;
   
}

.div-imagen2 > div {
  position:absolute;
  top:110px;
  left:155px;
  z-index:-1;
  padding:10px;
  margin-top:760px;/*Baja el Tamaño*/
  color:white;
  margin-left:550px;/*posicionar el texto*/
  font-size:30px;
  color:#B22222;
   font-family: "Times New Roman", Times, serif;
}
.desvanecer2{
	width:380px;
  height:280px;
 margin-left:50px;/*separacion*/
}
.desvanecer2:hover, .desvanecer4:hover{
  opacity: 0.07;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  width:300px;
  height:300px;
}
/*3*/
.div-imagen3 {
  display:inline-block;
  margin-top:60px;
}

.div-imagen3 > div {
  position:absolute;
  top:110px;
  left:155px;
  z-index:-1;
  padding:10px;
  margin-top:1100px; /*Bajar para ajustar a la imagen*/
  color:white;
  margin-left:120px;
  font-size:30px;
  color:#B22222;
   font-family: "Times New Roman", Times, serif;
}
.desvanecer3{
	width:450px;
	height:280px;
}


/*4*/
.div-imagen4{
  display:inline-block;
  margin-top:60px;
   
}

.div-imagen4 > div {
  position:absolute;
  top:110px;
  left:155px;
  z-index:-1;
  padding:10px;
  margin-top:1100px;
  color:white;
  margin-left:550px;/*posicionar el texto*/
  font-size:25px;
  color:#B22222;
   font-family: "Times New Roman", Times, serif;
}
.desvanecer4{
	width:400px;
	height:180px;
	 margin-left:50px;/*separacion*/
}
.desvanecer4:hover{
  opacity: 0.07;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  width:390px;
  height:230px;
}
	
}

/* ***** CONFIGURACION IMAGENES ***** */
.slider{
	width: 100%; /*Ancho de la imagen y centrado*/
	margin: 0;
	overflow: hidden; /*Ocultar imagenes dentro de la primera*/
	
}

.slider ul {
	display: flex; /*Imagenes flexibles*/
	padding: 0; /*Quitar el relleno que queda en la imagen*/
	width: 300%; /*Tamaño influte cuantas imagenes tengo no olvidar*/
	
	animation: cambio 20s infinite alternate; /*Animacion para la transicion infinita de
	imagenes en
	20s*/

	/*Especie de bucle para que cuando finalice la ultima proyeccion no suba bruscamente*/
}

.slider img{ /*Tamaño que ocupa la imagen, ancho*/
	width:100%;
	height: 500px;
	border-radius: 10px;
}

.slider li{ /*Eliminar estilo*/
	width: 100%; /*Ancho*/
	list-style: none;
}
@keyframes cambio { /*Lapsos de tiempo entre los cambios de imagen*/
	
	/*Primera imagen*/
	0%{margin-left: 0%;} /*ERROR*/
	0%{margin-left: 0%;}
	20% {margin-left: 0%;} /*Del 0 al 20% a nuestra imagen no le pasara nada (Durante 4
	segundos se mantendra) (20*0.2)*/
	
	/*Del 20% al 25& representa el tiempo que tardara en efectuarse la transicion (20 * 0.05= 1 segundo)*/
	
	/*Segunda imagen*/
	25%{margin-left: -100%;}
	45%{margin-left: -100%;}
	
	/*Transicion de 4 segundos*/
	
	/*Tercera imagen*/
	50%{margin-left: -200%;}
	70%{margin-left: -200%;}
	
	/*Cuarta Imagen
	80%{margin-left:-300%;}
	100%{margin-left:-300%;}
	*/
	/*Quinta Imagen
	105%{margin-left:-400%;}
	115%{margin-left:-400%;}*/
	/*Cada imagen se mantendra 4 segundos y el tiempo de transicion es de 1 segundo*/
}


/* ***** CONFIGURACION FOOTER ***** */

footer{
	margin: 0;
	width: 100%; /*Ancho de pagina*/
	text-align:center; /*Texto centrado, color fondo  y letras, espacio*/
	background-color: #8B0000;
	color: white;
	padding: 0px;
}

/*Inicio del aside*/
.imagen-aside{
	position:fixed;
	bottom:0px; /*Estado de boton , ubicacion*/
	right:10px;
	width:30px;
	height:75px;
}

aside{
	width:20%;
	height:300px;
	position:fixed;
	right:30px;
	top:300px;
	color:#fff;
}
aside img{
	border-radius:10px;
}
/*--Enlaces de navegador quizas sea util en el futuro*/
.enlaces{
	background:#fff;
	/*color:#8B0000;*/
}
aside h3{
	margin-bottom:20px;
}
aside ul{
	margin-left:40px;
}
aside ul li{
	list-style-image:url("../imagenes/blog.png");

}

/*Contacto*/
.contacto{
	margin: 0;
	width: 100%; /*Ancho de pagina*/
	text-align:center; /*Texto centrado, color fondo  y letras, espacio*/
	background-color: #696969;
	color: white;
	padding: 0px;
}
.telefono, .email{
	width:25px;
	height:30px;
	display:block;
	margin:auto;
	vertical-align: middle;
}
/**Aislante css*/



.articuloAislante h2{
	margin: 0;
	width: 100%; /*Ancho de pagina*/
	text-align:center; /*Texto centrado, color fondo  y letras, espacio*/
	background-color: #8B0000;
	color: white;
	padding: 15px;
	margin-top:50px;
	font-family:'Yanone-Kaffeesatz', sans-serif;
}

/*ARCHIVO Zinc PARA EL CSS*/


div#imagen{
	width:300px;
	height:300px;
	margin:20px;
	background-image:url(../imagenes/fachada.jpg);
	
}
div#info {
	position:absolute;
	overflow:hidden;
	width:300px;
	height:300px;
	background-color:rgba(31,31,31,0.9);
	-webkit-transition:opacity 0.2s;
	opacity:0;
}

div#imagen:hover div#info{
	opacity:1;
}
p#headline{
	position:absolute;
	margin-top:20px;
	-webkit-transition:margin 0.4s;
	margin-left:-70px;
	font-size:21px;
	color:#A52A2A;
}
div#imagen:hover p#headline{
	margin-left:70px;
	
}
p#info2{
	margin:auto;
	width:250px;
	text-align:center;
	margin-top:160px;
}
div#imagen:hover p#info2{
	margin-top:100px;
	-webkit-transition:margin 0.3s;
	
	
}
//*2 div con imagen*/
#ex4 {
width: 730px;
height: 133px;
line-height: 0px;
color: transparent; 
font-size: 50px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 300;
text-transform: uppercase;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
transition: all 0.5s ease;
}
#ex4:hover {
line-height: 133px;
color: white;
}
#ex4 img{ 
float: left;
margin: 0 15px;
}

